* {
    box-sizing: border-box;
  }
  
.form-control {
    margin-top: 10px;
    margin-bottom: 15px;
}
.container{
    border-style: ridge;
    margin: 35px;
    padding-left: 50px;
}
div.formControl {
    padding-left: 5px;
}
h1 {
    display: inline-block;
    margin-top: 10px;
    
}
.results h1 {
    border-style: hidden;
    font-weight: normal;
    font-size: 35px;
    margin-right: 5px;
}
.results {
    display: inline-block;
    margin-bottom: 15px;  
}
.output {
    display: inline-block;
    margin-bottom: 15px; 
    font-size: 30px;
    margin-left: 0px;
}
.formControl {
    margin-bottom: 15px;

}

.btn {
    margin-bottom: 15px;
}

button[type="reset"] {
   float: right;
    
}




